{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Post Your Catch</h1>
            <p class="lead">Connect to buyers in your area</p>

            {% if not current_user.is_authenticated %}
            <p>Login to post to the listing</p>
            <p><a class="btn btn-primary" href="{{ url_for('security.login') }}">login</a></p>
            {% endif %}

            {% if current_user.is_authenticated %}
            <a class="btn btn-primary" href="/post">Create a Post</a>
            {% endif %}

            <p><a class="btn btn-primary" href="/listings">View Listings</a></p>

        </div>
    </div>
</div>
{% endblock body %}
