<!DOCTYPE html>
<html>
   <body>
      <a class="btn btn-default" href="{{ url_for('admin.index') }}">Home</a>
      <h3>Post your catch</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "fish">Fish Type</label><br>
         <input type = "text" name = "fish" placeholder = "Fish Type" /><br>

         <label for = "amount">Amount / Weight</label><br>
         <input t ype = "text" name ="amount" placeholder = "Amount / Weight"></textarea><br>

         <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>
